@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');


body {
    background-color:#FFC0CB;
}
h1 {
    background-color:white;
    border: 4px solid black;
    text-align:center;
    font-family:'Bungee Outline', cursive;;
}

h2 {
    background-color:#E0E0E0;
    font-family:'Bungee Inline', cursive;
    font-size:30px;
    text-align: center
    border:2px solid black;
}

ul {
    font-family:'Concert One', cursive;
    font-size:20px;
}
#button {
background-color :yellow;
}